
h1, h2 {
  font-size: 200%;
  display: inline-block;
  width: 49.5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p, table {
  font-size: 150%;
}

h1 {
  text-align: left;
  margin-left: 10px;
}

h2 {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

tr:nth-child(2n) {
  background-color: lightgrey;
}

td {
  padding: 3px;
  width: 33%;
  text-align: center;
}

tr.bonus {
  background-color: #E6CCCC;
}

.bonus, .bonus td {
  color: maroon;
}

#north, #northbound {
  display: none;
}

#north {
  color: #005000;
}

#south {
  color: #500000;
}