
html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 3.0rem;
}

header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

hgroup {
/*  position: relative;*/
  disply: block;
}

header h1, header h2 {
  display: inline-block;
  margin: 1.2rem 1rem;
}

header h1 {
  margin-right: 0;
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
}

header h2 {
  margin-left: 0;
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
}

header ul {
/*  position: absolute;*/
/*  top: 5.4rem;*/
  width: 100%;
  margin: 0;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0;
}

header ul li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
  text-align: center;
}

table {
  width: 100%;
  position: absolute;
  top: 9.6rem;
  border-collapse: collapse;
}

tr:nth-child(2n+1) {
  background-color: lightgrey;
}

td {
  text-align: center;
}

.north {
  display: none;
}

#north {
  color: #005000;
}

#south {
  color: #500000;
}
